/* Global styles */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

input[type="text"] {
  margin: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

body {
  /* TODO: get a better background image */
  background-image: url('../images/background.jpg')
}

.center-text {
  text-align: center;
}

.font-icon {
  position: relative;
  top: 5px;
  padding: 0;
  margin: 0;
}

/* Sectional styles */

#app-body {
  max-width: 615px;
  margin: 0 auto;
  height: 100vh;
  background-color: white;
  overflow: scroll;
}

#header {
  color: white;
  background-color: red;
  padding: 0 5px;
  width: 100%;
  max-width: 615px;
  position: fixed;
}

#search-container {
  padding: 0;
}

#search-bar {
  position: relative;
  top: 5px;
  padding: 5px 0;
}

#search-input {
  width: calc(100% - 58px);
  height: 20px;
  margin: 0  5px 10px 5px;
}

#menu {
  display: none;
}

#search-menu {
  display: none;
}

#food-list-container {
  margin-top: 30px;
}

#food-list {
  list-style-type: none;
  background-color: #eee;
  padding: 0;
}

.food-item {
  margin: 0 auto;
  padding: 15px 25px;
  border-bottom: 1px solid #aaa;
}

.food-item:last-child {
  border: none;
}

.delete-button {
  padding-right: 15px;
}

#calorie-total {
  position: fixed;
  width: 100%;
  max-width: 615px;
  color: white;
  background-color: red;
  bottom: 0px;
  padding: 2.5px;
}
