/* Global styles */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  /* TODO: get a better background image */
  background-image: url('../images/background.jpg')
}

.center-text {
  text-align: center;
}

.font-icon {
  padding: 0;
  margin: 0;
}

/* Sectional styles */

#app-body {
  max-width: 615px;
  margin: 0 auto;
  height: 100vh;
  background-color: white;
}

#header {
  color: white;
  background-color: red;
  padding: 0 5px;
  width: 100%;
}

#search-container {
  height: 35px;
  padding: 0;
}

#search-bar {
  padding-bottom: 5px;
}

#search-input {
  width: calc(100% - 68px);
  height: 30px;
  margin: 0  0 5px 0;
}
